sidenav {
  height: 100%;
  md-sidenav {
    background-color: #AF87AD;
    color: #fff;
    height: 100%;

    &.md-sidenav-left {
      md-content {
        background-color: transparent;
      }
    }

    @media screen and (min-width: 600px) {
      max-width: 340px;
    }
  }
  ul.app-menu {
    color: #fff;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid #A1729F;
      padding: 0;
      .md-button {
        border-radius: 0;
        margin: 0;
        padding: 0 16px;
        text-align: left;
      }
      a, a:hover, a:focus, a:active {
        color: #fff;
      }
    }
  }
}